{% extends 'base/manager-base.html' %}
{% load static %}
{% block container %}


<div class="login-form-bg h-100" style="margin-top: 50px;">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="form-input-content">
                    <div class="card login-form mb-0">
                        <div class="card-body pt-5">
                            <a class="text-center" href="#"> 
                                <h4>ecocraft</h4>
                            </a>

                            <form class="mt-5 mb-5 login-input" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form.username }}
                                </div>
                                <div class="form-group">
                                    {{ form.password }}
                                </div>
                                <button type="submit" class="btn login-form__btn submit w-100">Sign In</button>
                            </form>

                            {% if form.errors %}
                                <div class="alert alert-danger mt-3">
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}

                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
