{% extends 'base/manager-base.html' %}
{% load static %}
{% block container %}



{% include 'includes/manager-nav.html' %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Create Product Feature</h4>
                        <div class="basic-form">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group col-12 col-md-6">
                                        <label for="id_name">Feature Name</label>
                                        {{ form.name }}
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                            {% if error %}
                                <p>{{ message }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
